<div class="container">

  <div class="custom-padding-post">
    <mdb-card class="custom-margin custom-shadow">
      <div *ngIf="post?.featurePhoto !== 'null'" class="view rgba-white-slight waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img [src]="post?.featurePhoto" alt="Card image cap"></mdb-card-img>
        <div class="mask"></div>
      </div>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title class="text-center font-weight-bold dark-grey-text pb-3">
          <h2>{{ post?.title }}</h2>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text  class="text-center">
          <div [innerHTML]="post?.body"></div>
        </mdb-card-text>

        <hr />

        <!-- Posted date -->
        <div class="row">
          <div class="col-md-6 col-sm-6 col-6">
            <i class="fa fa-clock-o" aria-hidden="true"></i><span class="posted-font">&nbsp;Posted {{ utils.formatDate(post?.date) }}</span>
          </div>
        </div>

      </mdb-card-body>
    </mdb-card>

  </div>





  <!--Comments form-->
  <div>
    <!-- Default form contact -->
    <div class="text-center border border-light p-5 custom-shadow">

      <p class="h4 mb-4">Create a comment</p>

      <!-- Name -->
      <input type="text" [(ngModel)]="name" class="form-control mb-4" placeholder="Name">

      <!-- Message -->
      <div class="form-group">
        <textarea class="form-control rounded-0" [(ngModel)]="body" rows="3" placeholder="Message"></textarea>
      </div>


      <!-- Create button -->
      <button [disabled]="!body" class="btn btn-info btn-block default-color" (click)="createComment()" type="submit">Comment</button>

    </div>
    <!-- Default form contact -->

  </div>

  <br>


  <!--Comments-->
  <!-- Card -->

  <!--Title-->

  <mdb-card class="custom-shadow">
    <mdb-card-title>
      <h4>Comments</h4>
    </mdb-card-title>

    <div *ngFor="let comment of post?.comments">
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>

        <a>
          <div class="mask"></div>
        </a>
      </div>

      <!--Name-->
      <mdb-card-title class="text-center font-weight-bold dark-grey-text pb-3">
        <h2>{{ comment?.name }}</h2>
      </mdb-card-title>

      <!--Card content-->
      <mdb-card-body>
        <mdb-card-text class="text-center">
          {{ comment?.body }}
        </mdb-card-text>

        <!--<button mdbBtn type="button" color="primary" mdbWavesEffect (click)="deleteComment(comment?.id)" *ngIf="isLoggedIn">Delete</button>-->

        <div class="col-md-6 col-sm-6 col-6">

          <i class="fa fa-remove" aria-hidden="true" (click)="deleteComment(comment?.id)" *ngIf="isLoggedIn"></i>

          <i class="fa fa-clock-o delete-position" aria-hidden="true"></i><span class="posted-font">&nbsp;Posted {{ utils.formatDate(comment?.date) }}</span>
        </div>

      </mdb-card-body>
    </div>


  </mdb-card>
  <!-- Card -->
  <br>
  <!-- Card -->
</div>




