<div class="container fixed">

  <div class="homepage-posts">

    <!-- Default form contact -->
    <div class="text-center border border-light p-5">

      <p class="h4 mb-4">Create Post</p>

      <!-- Name -->
      <input type="text" [(ngModel)]="title" class="form-control mb-4" placeholder="Title">

      <!-- Featured picture -->
      <input type="email" [(ngModel)]="featurePhoto" class="form-control mb-4" placeholder="Featured picture">

      <!-- Body -->
      <div class="form-group">
        <app-ngx-editor [config]="editorConfig" [(ngModel)]="body"></app-ngx-editor>
        <!--<textarea class="form-control rounded-0" [(ngModel)]="body" rows="3" placeholder="Content"></textarea>-->
      </div>

      <!-- Create button -->
      <button class="btn btn-info btn-block default-color" type="submit" (click)="createPost()">Create</button>

    </div>
    <!-- Default form contact -->

  </div>

</div>
