.margins {
  margin-top: 11em;
  margin-bottom: 15em;
}

.h4-margins {
  margin-top: -3em;
  margin-bottom: 10em;
  text-align: center;
}

.image-size {
  width: 80%;
}

.bigger-text {
  font-size: 1.3em ;
  color: #747373;
  font-weight: 400;
}
