<mdb-card class="margins container">
  <!--Card image-->

  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h4 class="h4-margins">About Me</h4>
    </mdb-card-title>

    <div class="row">
      <div class="col-md-6 col-sm-6 col-6">

        <div class="image-size">
          <mdb-card-img [src]="profile.profilePicture" alt="Card image cap"></mdb-card-img>
        </div>

      </div>

      <div class="col-md-6 col-sm-6 col-6 ">

        <!--<mdb-card-text>-->

          <div class="bigger-text">

            <div>
              {{ profile.fistName }}
              Rayner
              {{ profile.lastName }}
            </div>

            <div></div>

            <div>
              {{ profile.bio }}
            </div>

            <div>
              {{ profile.country }}
            </div>

            <div>
              {{ profile.dateOfBirth }}
            </div>

            <div>
              raynermendezg@gmail.com
            </div>
          </div>



        <!--</mdb-card-text>-->

      </div>
    </div>

    <!--Text-->

  </mdb-card-body>
</mdb-card>
