<mdb-card>
  <!--Card image-->
  <mdb-card-img [src]="profile.avatarImg" alt="Card image cap"></mdb-card-img>
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h4>About Me</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text>

      <div>
        {{ profile.fistName }}
      </div>

      <div>
        {{ profile.lastName }}
      </div>

      <div>
        {{ profile.bio }}
      </div>

      <div>
        {{ profile.country }}
      </div>

      <div>
        {{ profile.dateOfBirth }}
      </div>
      
    </mdb-card-text>

    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
  </mdb-card-body>
</mdb-card>
